<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New User</title>
</head>
<body>

<div>
  <h1>Создание пользователя</h1>
  <form th:action="@{/admin}"  th:object="${user}" th:method="POST">
    <span>Имя</span>
    <br>
    <input type="text" th:field="${user.name}"/>
    <br>
    <span>Возраст</span>
    <br>
    <input type="text" th:field="${user.age}"/>
    <br>
    <span>Email</span>
    <br>
    <input type="text" th:field="${user.email}"/>
    <br>
    <span>Пароль</span>
    <br>
    <input th:type="password" th:name="password"  th:value="${user.password}"/>
    <br>
    <span>Выбор роли</span>
    <br>
    <input name="roles" type="checkbox"
           th:each="role : ${allRoles}"
           th:text="${role.name}"
           th:value="${role.id}"
    />
    <br>
    <br>
    <input class="button" type="submit" value="Создать">

  </form>












<!--<form th:method="POST" th:action="@{/admin}" th:object="${User}">-->
<!--  <label for="name">Enter name: </label>-->
<!--  <input type="text" th:field="*{name}" id="name"/>-->
<!-- -->
<!--  <br/>-->
<!--  <label for="password">Enter password: </label>-->
<!--  <input type="text" th:field="*{password}" id="password"/>-->
<!-- -->
<!--  <br/>-->
<!--  <label for="age">Enter age: </label>-->
<!--  <input type="text" th:field="*{age}" id="age"/>-->
<!--  -->
<!--  <br/>-->
<!--  <label for="email">Enter email: </label>-->
<!--  <input type="text" th:field="*{email}" id="email"/>-->
<!--  -->
<!--  <br/>-->
<!--  <label for="roles">Enter role: </label>-->
<!--  <input type="text" th:field="*{roles}" id="roles"/>-->

<!--  <br/>-->
<!--  <input type="submit" value="Create!"/>-->
<!--</form>-->

<a href="/logout">Logout</a>
</body>
</html>